# Database
# ----------------------------------

# Adapter
# 1. memory
# 2. nedb
# 3. mongo
DB_ADAPTER=memory

# If DB_ADAPTER=nedb, this is be the nedb folder
NEDB_FOLDER=nedb

# Default Mongo database
MONGO_URI=mongodb://localhost/yourwebsite
MONGO_URI_DEFAULT=mongodb://localhost/yourwebsite

# Website
# ----------------------------------

# Address
NOW_URL=http://localhost:4000
# Name
SITE_NAME=yourwebsite
